In [3]:
import numpy as np
import pandas as pd

In [5]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [6]:
time_6M = pd.read_csv('data/Project1/서울특별시 공공자전거 이용정보(시간대별)_22.06.csv', 
                 encoding='ansi')
df_time_6M = time_6M.copy()
df_time_6M

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
0,2022-06-01,0,742,742. 등촌역 5번 출구 뒤,정기권,NaN,~10대,1,48.30,0.46,1999.70,10
1,2022-06-01,0,2059,2059. 보라매공원 정문,정기권,NaN,~10대,1,27.47,0.23,991.00,9
2,2022-06-01,0,1349,1349. 월계2교 버스정류장 앞,정기권,NaN,~10대,1,20.63,0.20,868.17,3
3,2022-06-01,0,750,750. 연의근린공원 건너편,정기권,NaN,~10대,1,13.97,0.13,560.00,4
4,2022-06-01,0,755,755. 목동1단지아파트 상가 앞,정기권,NaN,~10대,1,12.15,0.14,590.00,3
...,...,...,...,...,...,...,...,...,...,...,...,...
3704323,2022-06-30,23,4765,4765. 동대문디자인플라자,정기권,M,기타,1,30.12,0.27,1170.00,65
3704324,2022-06-30,23,4813,4813. 망우지구대,정기권,M,기타,1,63.65,0.65,2820.00,18
3704325,2022-06-30,23,4564,4564. 63스퀘어,정기권,M,기타,1,65.64,0.51,2210.00,15
3704326,2022-06-30,23,263,263. 근로자회관 사거리,정기권,M,기타,1,38.81,0.23,980.00,16
3704327,2022-06-30,23,1308,1308. 안암로터리 버스정류장 앞,정기권,M,기타,1,18.53,0.17,720.00,3

In [7]:
time_9M = pd.read_csv('data/Project1/서울특별시 공공자전거 이용정보(시간대별)_22.09.csv', 
                 encoding='ansi')
df_time_9M = time_9M.copy()
df_time_9M

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
0,2022-09-01,0,1665,1665. 양지근린공원앞,정기권,NaN,~10대,1,18.79,0.17,730.00,3
1,2022-09-01,0,1669,1669. 중계역 3번출구,정기권,NaN,~10대,1,36.41,0.40,1735.03,11
2,2022-09-01,0,1165,1165. 마곡중학교 후문,정기권,NaN,~10대,1,0.00,0.00,0.00,1
3,2022-09-01,0,764,764. 목동청소년수련관,정기권,NaN,~10대,1,27.95,0.22,941.14,6
4,2022-09-01,0,3533,3533. 건대입구역 사거리(롯데백화점),정기권,NaN,~10대,1,61.05,0.55,2371.67,20
...,...,...,...,...,...,...,...,...,...,...,...,...
4100679,2022-09-30,23,1911,1911. 구로디지털단지역 앞,정기권,M,기타,1,69.46,0.53,2277.98,19
4100680,2022-09-30,23,2102,2102. 봉림교 교통섬,정기권,M,기타,1,17.01,0.17,740.80,3
4100681,2022-09-30,23,2337,2337. 대모산입구역 2번출구 앞,정기권,M,기타,1,16.12,0.14,598.60,3
4100682,2022-09-30,23,1414,1414. 사가정역 2번출구,정기권,M,기타,1,103.34,0.71,3070.00,19
4100683,2022-09-30,23,502,502. 뚝섬유원지역 1번출구 앞,정기권,M,기타,1,323.45,3.01,12964.80,67

In [8]:
from glob import glob
# csv 목록 불러오기
file_names = glob("./data/Project1/공공자전거/*.csv")
file_names

['./data/Project1/공공자전거\\서울특별시 공공자전거 이용정보(시간대별)_22.06.csv',
 './data/Project1/공공자전거\\서울특별시 공공자전거 이용정보(시간대별)_22.09.csv']

In [12]:
df_time_total = pd.DataFrame()
for file_name in file_names:
    temp = pd.read_csv(file_name, sep=',', encoding='ansi')
    df_time_total = pd.concat([df_time_total, temp])

In [13]:
df_time_total

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
0,2022-06-01,0,742,742. 등촌역 5번 출구 뒤,정기권,NaN,~10대,1,48.30,0.46,1999.70,10
1,2022-06-01,0,2059,2059. 보라매공원 정문,정기권,NaN,~10대,1,27.47,0.23,991.00,9
2,2022-06-01,0,1349,1349. 월계2교 버스정류장 앞,정기권,NaN,~10대,1,20.63,0.20,868.17,3
3,2022-06-01,0,750,750. 연의근린공원 건너편,정기권,NaN,~10대,1,13.97,0.13,560.00,4
4,2022-06-01,0,755,755. 목동1단지아파트 상가 앞,정기권,NaN,~10대,1,12.15,0.14,590.00,3
...,...,...,...,...,...,...,...,...,...,...,...,...
4100679,2022-09-30,23,1911,1911. 구로디지털단지역 앞,정기권,M,기타,1,69.46,0.53,2277.98,19
4100680,2022-09-30,23,2102,2102. 봉림교 교통섬,정기권,M,기타,1,17.01,0.17,740.80,3
4100681,2022-09-30,23,2337,2337. 대모산입구역 2번출구 앞,정기권,M,기타,1,16.12,0.14,598.60,3
4100682,2022-09-30,23,1414,1414. 사가정역 2번출구,정기권,M,기타,1,103.34,0.71,3070.00,19
4100683,2022-09-30,23,502,502. 뚝섬유원지역 1번출구 앞,정기권,M,기타,1,323.45,3.01,12964.80,67